.about{
    position: relative;
    top: 500px;
    left: 50%;
    width: 400px;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;


}
.company_logo{
    width: 150px;
}

@media screen and (max-width:835px){
    .about{
        position: relative;
        top: 600px;

    }   

  }