.nowPlaying_box{
    position: relative;
    top: 69px;
    left : 5px;
    outline: outset 2px black;
  
  }
  .nowPlaying_text p{
    position:relative;
    padding-top: 10px;
    padding-left: 15px;
    top:-90px;
    left:-50px;
    font-size: 28px;
    text-align: left;
    background-color: black;
    color: white;
    outline: outset 2px black;
  }


@media screen and (max-width:835px){
    .nowPlaying_box{
      position:relative;
      top : 195px;
      width: 394px;
    }
    .nowPlaying_text p{
      position:relative;
      width : 100%;
      padding-top: 6px;
      padding-left: 15px;
      top:-210px;
      left:-50px;
      font-size: 22px;
      text-align: left;
      background-color: black;
      color: white;
      outline: outset 2px black;
    }
  }